body {
  font-family: "Press Start 2P", cursive;
  font-size: 11px;
}
h1,
h5 {
  text-align: center;
}

h1 {
  font-size: 25px;
  margin-top: 30px;
  font-weight: bolder;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

small {
  font-size: 8px;
  font-weight: bolder;
}
small a {
  color: blue;
  font-weight: thin;
}

hr {
  margin-top: 10px;
}

img {
  display: block;
  margin: 0 auto;
}
.button {
  border: 2px solid #000000;
  border-top: 3px solid white;
  border-left: 3px solid white;
  background-color: #fe78bf;
  margin-left: -20px;
}
.float-left {
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}
.temp {
  font-size: 70px;
  text-align: center;
  color: rgb(0, 0, 0);
  display: block;
  margin-right: 30px;
}

a:hover {
  color: rgb(55, 222, 255);
}
.week-weather {
  color: rgb(34, 188, 249);
}

.day {
  font-size: 12px;
  text-align: center;
}

.weather-app {
  border: 3px solid rgb(255, 227, 253);
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  height: 700px;
  border-radius: 5%;
  background-color: #838fa6;
  background-image: linear-gradient(180deg, #838fa6 0%, #c3d3d8 100%);
}

.desc {
  text-align: center;
  margin-top: -15px;
}

.day {
  font-size: 10px;
}

.city-input {
  border: 2px solid #000000;
  border-top: 3px solid white;
  border-left: 3px solid white;
  font-size: 10px;
  padding-bottom: 14px;
}

.submitt {
  border: 2px solid #000000;
  border-top: 3px solid white;
  border-left: 3px solid white;
  background-color: #fe78bf;
  font-size: 10px;
  padding-bottom: 14px;
}

.container-forcast {
  margin-bottom: -30px;
  padding-bottom: 10px;
  background: rgb(255, 227, 253);
  margin-top: 5px;
  text-align: center;
  height: 150px;
}
.top-row {
  border: 2px solid #000000;
  border-top: 1px solid rgb(0, 0, 0);
  padding-bottom: 0;

  margin-bottom: 0px;
  border-bottom: 1px solid #000000;
  background-color: #fe78bf;
  display: block;
  text-align: right;
}

.false {
  border: 1.5px solid #000000;
}
.units {
  display: block;
  margin-bottom: -10px;
  margin-right: -173px;
}

.container-degree {
  margin-bottom: 30px;
  margin-top: 0px;
}
