body {
  font-family: "Exo 2", sans-serif;
}
h1,
h5 {
  text-align: center;
}

h1 {
  font-size: 30px;
  margin-top: 30px;
  font-weight: bolder;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

small {
  font-size: 8px;
  font-weight: bolder;
}
small a {
  color: blue;
  font-weight: thin;
}
ul {
  font-size: 10px;
  text-align: left;
  list-style: none;
  margin-left: -32px;
  margin-top: -17px;
}
.float-left {
  text-align: center;
  margin-top: -39px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.temp {
  font-size: 120px;
  text-align: center;
  color: rgb(34, 188, 249);
}

.search {
  text-align: center;
}
a:hover {
  color: rgb(55, 222, 255);
}
.week-weather {
  color: rgb(34, 188, 249);
}

.cloud {
  text-align: center;
  font-size: 90px;
  color: pink;
  margin-top: -15px;
}

.day {
  font-size: 12px;
  text-align: center;
}

.weather-app {
  border: 3px solid rgb(255, 227, 253);
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  max-height: 800px;
  border-radius: 20px;
  text-align: center;
  background-color: #838fa6;
  background-image: linear-gradient(180deg, #838fa6 0%, #c3d3d8 100%);
}

.imagez {
  font-size: 100px;
  margin-top: -39px;
}

.desc {
  text-align: center;
  margin-top: -15px;
}

.emoji {
  font-size: 30px;
  margin-bottom: -8px;
}

.MON {
  background: rgb(255, 255, 255);
  border-radius: 30%;
  margin-right: 20px;
}
.TUES:hover {
  background: rgb(0, 0, 0);
  border-radius: 30%;
  margin-right: 20px;
}

.WED {
  background: rgb(255, 227, 253);
  border-radius: 30%;
  margin-right: 20px;
}

.THRUS {
  background: rgb(255, 227, 253);
  border-radius: 30%;
  margin-right: 20px;
}
